<h1>Usuarios de la Aplicación</h1>

<% if flash[:notice] %>
	<%= flash[:notice] %>
<% end %>

<% @users.each do |user| %>
	<ul>
		<li>
			<%= link_to "#{user.name}", user_path(user) %>
		</li>
		<li>
			<%= user.email %>
		</li>
	</ul>
<% end %>

<%= link_to "Crear nuevo usuario", new_user_path %>