<style>
	form{
		width: 300px;
	}
	label{
		width: 200px;
		margin-right: 10px;
	}
</style>

<h1>Formulario de contacto</h1>

<form action="contact" method="post"> 
	<label for="nombre">Nombre:</label><input type="text" name="nombre">
	<label for="apellidos">Apellidos:</label><input type="text" name="apellidos">
	<label for="email">Email:</label><input type="text" name="email">
</form>